<div class="p-6">
    <button 
      class="bg-green-800 text-white font-medium py-2 px-8 rounded hover:bg-green-900 transition duration-300"
      (click)="fetchUsers()">
      Fetch Users
    </button>
  
    <div *ngIf="loading" class="my-6 text-gray-600">
      Loading...
    </div>
  
    <div *ngIf="error" class="mt-4 text-red-600">
      {{ error }}
    </div>
  
    <ul *ngIf="users.length > 0" class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <li *ngFor="let user of users" class="flex items-center space-x-4 p-4 bg-white shadow rounded-lg transition transform hover:-translate-y-1 hover:shadow-lg">
        <img 
          [src]="user.profile" 
          alt="{{ user.name }}" 
          class="w-16 h-16 rounded-full object-cover"
        />
        <div>
          <strong class="text-lg font-semibold">{{ user.name }}</strong>
          <p class="text-gray-600">{{ user.description }}</p>
        </div>
      </li>
    </ul>
  </div>
  